.JokeApp {
    display: flex;
    width: 80%;
    height: 80%;
}

.JokeApp-sidebar {
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    width: 40%;
    text-align: center;
    box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
}

.JokeApp-title {
    font-size: 3rem;
    margin: 0 2rem;
    font-weight: 300;
    color: white;
}

.JokeApp-sidebar img {
    width: 70%;
    margin: 2rem 0;
}

.JokeApp-button {
    font-size: 1.2rem;
    min-width: 70%;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: white;
    background-color: salmon;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
}

.JokeApp-button:hover {
    background-color: firebrick;
}

.JokeApp-jokes {
    background-color: white;
    overflow: scroll;
    height: 90%;
    align-self: center;
}

.JokeApp-spinner {
    color: white;
    text-align: center;
}